/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300&family=Plus+Jakarta+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 1.6;
    position: absolute;
    width: 100%;
    color: #292929;
}

.full-content {
    position: relative;
    display: flex;
    max-width: max-content;
}

.container {
    position: relative;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    width: 50%;    
}

.one {
    position: relative;
    flex-direction: column;
    width: 50vw;    
    
}


.container .image {
    z-index: -1;
    position: absolute;
    object-fit: contain;
    height: 100%; 
    width: 100%;
    opacity: 0.125;    
}

.mcontact-us #mobile-contact {
    display: none;
}

.logo-img {
    position: relative;
    top: -10%;
    align-self: center;
    width: 70%;
    
}

img {
    margin: auto;
    display: block;
    width: 45%;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container header {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #3E3E0D;
    font-family: "Merriweather", serif;
}

.container .stay-tuned {
    text-align: center;
    letter-spacing: 0.4em;
    line-height: 200%;
    color: #3E3E0D;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    word-spacing: 0.2rem;
    margin-bottom: -10px;
}
.container .countdown {
    display: flex;
    column-gap: 1.2%;
    justify-content: center;
    padding-top: 5%;
}

.countdown .time {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 25px;
}

.time .number {
    font-weight: 600;
    line-height: 22px;
    font-size: 35px;
    color: #FFAB01;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.time .text {
    letter-spacing: 0.005em;
    font-weight: 600;
    font-size: 35px;
    color: #292929;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: capitalize;
}

.email-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.email-box {
    position: absolute;
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center;
    height: 40px;
    outline: 0;
    padding: 10px;
    border-radius: 6px;
    background: transparent;
    box-shadow: 0 8px 40px rgba(60, 62, 13, 0.1);
    width: 80%;
    margin-top: 40px;
    column-gap: 20px;
}

.email-box input,
.email-box button {
    border: none;
    outline: none;
    border-radius: 4px;
}
.email-box input {
    width: 100%;
    padding: 0 15px;
}
.email-box button {
    white-space: nowrap;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;    
}

input {
    flex-grow: 2;
    border: none;
    font-size: 20px;
}

input:focus {
    outline: none;
}

.notify {
    position: absolute;
    background-color: #FFAB01;
    color: #fff;
    text-align: center;
    font-weight: 500;
    width: 156px;
    font-size: 14px;
    height: 50px;
    right: 0%;
    border-radius: 6px;
    
}

#text {
    display: block;
    font-weight: 300;
    font-style: italic;
    padding: 5px;
}

#form.invalid .input-box::before {
    content: '';
    position: absolute;
    right: 12px;
    top: 9px;
    width: 24px;
    height: 24px;
    background: url(/assets/img/invalid.png);
    -webkit-background-size: cover;
    background-size: cover;
}

#form.valid .input-box::before {
    content: '';
    position: absolute;
    right: 12px;
    top: 9px;
    width: 24px;
    height: 24px;
    background: url(/assets/img/valid.png);
    -webkit-background-size: cover;
    background-size: cover;
}

.two {
    display: flex;
    flex-direction: row;
    width: 50vw;
    position: relative;
}

.container.two .image {
    position: absolute;
    top: 20.56%;
    bottom: 16.17%;
    background: radial-gradient(50.04% 46.62% at 50% 50%, #FFD500 0%, rgba(255, 213, 0, 0) 100%);
    opacity: 0.65;
    width: 496.1px;
    height: 511.09px;

      
}

.container.two .content {
    position: absolute;
    width: inherit;
    height: 100vh;
    top: 0px;
    background: #222204;
    z-index: -1001;
    margin: 0;
}




.contact-us #contact {
    position: absolute;
    padding: 12px 30px 12px 12px;
    gap: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 156px;
    height: 50px;
    right:5%;
    top: 48px;
    text-align: center;
    border-radius: 6px;
    background-color: #FFAB01;
    cursor: pointer;
}



@media screen and (max-width: 768px){
    .container header{
        font-size: 1.5em;
    }

    .time .number {
        font-size: 25px;
    }
    .time .text {
        font-size: 20px;
    }

    .email-box button {
        white-space: nowrap;
        cursor: pointer;
        color: #fff;
    }

    .email-box input,
    .email-box button {
        font-size: 10px;
    }

    .email-box input {
        width: 100%;
        padding: 0 15px;
        font-size: 0.65em;
    }

    p {
        font-size: 0.65rem;
        letter-spacing: 0.02rem;
        word-spacing: 0rem;
    }

    .container .stay-tuned {
        letter-spacing: 5px;
        font-size: 0.85em;
        line-height: 300%;
    }

    .container.two .content{
        width: 100%;
    }

    .container.two .image{
        height: 80%;
    }

    .mcontact-us #mobile-contact {
        display: none;
    }

}


@media screen and (max-width: 480px){
    .container header{
        font-size: 1.3em;
    }

    .time .number {
        font-size: 15px;
    }
    .time .text {
        font-size: 10px;
    }

    .email-box {
        padding: 0.60%;
    }
    .email-box button {
        white-space: nowrap;
        font-size: 0.65em;
        width: max-content;
    }

    .email-box input,
    .email-box button {
        font-size: 10px;
    }

    .email-box input {
        width: 100%;
        padding: 0 15px;
        font-size: 0.65em;
    }

    p {
        font-size: 0.45rem;
        letter-spacing: 0.02rem;
        word-spacing: 0rem;
    }

    .container .stay-tuned {
        letter-spacing: 5px;
        font-size: 0.85em;
        line-height: 300%;
    }

    .full-content{
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }

    .container.one{
        width: inherit;
        height: 100%;
        padding-top: 80px;
    }

    .container.one .logo-img {
        margin-top: -50px;
    }

    .container.two{
        height: 80%;
        position: relative;
        width: 100%;
    }

    .container.two .content{
        width: 100%;
    }

    .container.two .image{
        height: 80%;
    }

    .boxer {
        z-index: 9999;
        position: absolute;
        top: -200px;
        background-color: red;
    }

    .contact-us #contact{
        display: none;
    }

    .mcontact-us {
        position: absolute;
        top: 40px;
        right: 20px;
    }

    .mcontact-us #mobile-contact {
        display: block;
        color: #ffffff;
        background-color: #FFAB01;
        width: 99px;
        height: 35px;
        left: 246px;
        white-space: nowrap;
        background: #FFAB01;
        border-radius: 6px;
        cursor: pointer;
        padding: 12px;
    }

}